#
# Example ssh.cfg for jumphost
# Change User and IdentityFile(s) as necessary
#

Host bastion 
  Hostname bastion.5463.example.opentlc.com
  User ankay-redhat.com

Host *.internal
  User ec2-user
  ProxyJump bastion

Match User ec2-user
  IdentityFile ~/.ssh/5463key.pem

Host *
  ControlMaster auto
  ControlPath /tmp/%h-%r
  ControlPersist 5m
  StrictHostKeyChecking no
